{{define "head_common"}}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{.SEO.Description}}">
  <link rel="canonical" href="{{.SEO.CanonicalURL}}">
  <meta property="og:type" content="{{.SEO.OGType}}">
  <meta property="og:site_name" content="{{.SEO.SiteName}}">
  <meta property="og:description" content="{{.SEO.Description}}">
  <meta property="og:url" content="{{.SEO.OGURL}}">
  {{if .SEO.OGImage}}<meta property="og:image" content="{{.SEO.OGImage}}">{{end}}
  <link rel="icon" type="image/png" href="{{.BasePath}}/static/favicon.png">
  <link rel="stylesheet" href="{{.BasePath}}/static/style.css">
{{end}}